.container1{
    width: auto;
    height: 80px;
    background-color: rgb(70, 67, 67);
    color: white;
    box-shadow: 5px 5px 5px grey;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
.heading{
    text-align: center;
    padding-top: 15px;
    font-weight: 800;
}